



body {

    background-image: linear-gradient(rgb(243, 216, 180),white);
}


.container {
    
    width: 100%;
    /*margin: auto;*/
    padding-top: 2%;
    padding-bottom: 2%;
    /*padding-left: 4%;*/
    /*margin-left: 5%;*/
       
}


h4 {
    color: darkblue;
}

h3 {
    font-size: larger;
    color: darkblue;
}


h1,h2,p,ul,ol{
    padding-left: 2%;
    color: darkblue;
}


.col-12 {width: 100%;}
.col-4 {width: 33.33%;}





footer {
    
    display: block;
}

footer.foot {
    
    background-color: darkgray;
    padding-left: 10%;
    
}


footer.foot h1 {
    
    color: aliceblue;
    font-size: 20px;  
}

footer.foot ul {
    
    list-style: none;
    text-align: left;
    padding-left: 40%;
}

footer.foot ul li a {
    
    color: aliceblue;
    font-size: 15px;
    line-height: 1.5;
}


hr {

    border-top: 2px dashed rgb(180, 57, 57);
    width: 30%;
}


img {

    border-radius: 50%;
    opacity: 0.9;
    display: block;
    margin-right: 10%;

}